/* new css */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
*{margin:0; padding:0;}
body{font-family:Open sans;}

.app-header .header{float:right; width:100%; } 
.app-header .header .app-headings{float:right; width: 100%;}
.app-headings ul li a {     color: #eee;     float: left;     font-size: 13px;     font-weight: bold;     padding: 12px 10px;     text-decoration: none;     text-transform: uppercase; }
.big-wrapper {
    background: #efefef none repeat scroll 0 0;
    margin: 0 auto; float:left;
    width: 100%;
}
 .big-wrapper-container > h2{float:left;width:100%;padding-top:40px;}
.big-wrapper-container{margin:0 auto; width:1200px;}

.big-wrapper .content {
    background: #fff none repeat scroll 0 0;
    float: left; box-sizing: border-box;
    margin: 0;
    padding: 30px;
    width: 100%;
}
.tokenform{
    float: left;padding: 10px 0; width: 60%;
}
input[type="radio"]:checked + .fa{color:#fff;}
.fa.fa-th, .fa.fa-sliders {
    font-size: 18px;
    padding-right: 5px;
}
.radiosection .overlay-checked a{
    position: relative;
    float: left; display:none;
    width: 100%; font-size:30px;
    text-align: center;
    top: 33%;
    text-decoration: none;
    color: #000;
    font-weight: bold; 
}
.radiosection .overlay-checked:hover a{display:block;}


input[type="radio"]{  position: absolute; 
    visibility: hidden;}
.radiobtn{float:left; width:100%;}
.radiobtn > label{float:left; padding: 4px 10px 20px 0;}
.radiobtn input[type="text"]{width:auto;max-width: 20px; padding:4px;}
.img-box {
    border: 1px solid #ccc;
    float: left;
    text-align: center;
    margin: 0.8%;
    padding: 0 %;
    width: 23.2%;
} 

.image-box-wrapper {
    float: left;
    margin: 20px 0;
    width: 100%;
}
.upgrade {background: rgb(71, 156, 207) none repeat scroll 0 0;}
.card-1 {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.img-box select {
    text-align: center;
    width: 100%;    border-radius: 4px;
    float: right;
     background: transparent;   font-family: open sans; font-size:15px; 
   padding: 5px;    line-height: 20px;
   line-height: 1;
   border: 0; border:1px solid #ddd;
   height: 34px; -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none; cursor:pointer; background:url("../images/arrow.png") no-repeat 96% center;
    
    
}
.sub-box > label{float: left;}
#transparency > div {
    margin: 0 auto;
    width: 100%;
}
/**/
#linkBox{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #686868;
    font-family: Open Sans;
    font-size: 12px;
    height: 150px;
    padding: 10px;
    resize: none;
    width: 96%;
}
#cssbox{
    font-family:Open Sans;
    width:96%;
    border: 1px solid #ccc;
    resize:none;
    font-size: 12px;
    background:#fff;
    color:#686868;
    padding:10px;
    min-height: 150px;
}
#wrapper-C .left{float: left;width: 48%; padding: 10px;}
#wrapper-C .right{float: right;width:48%; padding: 10px;}
#wrapper-C {float: left;margin: 20px 0;width: 100%;}

.wrapper-B {float: left; margin: 0 auto;  }
.sub-box{float: left;width: 100%;padding: 0 0 10px 0; position:relative;}
.application-heading{float: left;text-align: center;width: 20%;}

.app-header .header ul{float: right;text-align: right;margin:0px 0; }
ul li {list-style:none;float: left;}
ul li a{}
.header a:hover{}

/* = ========================= = */

.btnget {
  font-family:Open Sans;
  color: #ffffff; border-radius:0;
  background: #2ca3f8;
 margin: 15px 0 0;
    padding: 10px 35px; font-weight:600;
  float: left;
  border: 0;text-transform:uppercase;
}

.btnget:hover {
    cursor:pointer;

  text-decoration: none;
}
.sub-box  input[type="checkbox"]{
  /*width: 10px; Desired width*/
  /*height: 10px; Desired height*/
  float: left;
}
.radiobtn{float:left; width:100%;}

.radiobtn input[type="text"]{width:auto;max-width: 20px; padding:4px;}
input[type="text"] {
     background: #ddd none repeat scroll 0 0;
    border: 1px solid #ccc;
    float: left;
    font-family: open sans;
    font-size: 12px;
    margin: 0; width:82%;
    padding: 7px;
    text-align: center;
}
.tokenform .btnget{float:left; width:auto; margin: 0 0 0 10px;}
.center{float: left;text-align: center;width: 100%;}
.save {float: left;margin: 10px 10px 10px 0; padding: 5px 30px; border-radius: 20px;   font-size: 16px;}
.tokenform > form{float:left; width:auto; margin:10px 0px;}
.submit_button{float:right;}
.tokenform a{  transition: all 0.8s ease 0s; background:url("https://www.expertvillagemedia.com/shopbyinstagram/images/instagram-icon.png") no-repeat 10px 8px#2ca3f8;
border-radius: 5px;color: #fff;cursor: pointer;float: left;  font-size: 16px;
    padding: 10px 20px 10px 40px;text-decoration: none;width: auto;
}
.tokenform a:hover{background:url("https://www.expertvillagemedia.com/shopbyinstagram/images/instagram-icon.png") no-repeat 10px 8px #333; }
#getimg{margin-right:0px;}
.left .lbl {
    color: #000;  text-transform:uppercase; 
}
.right .lbl
{
    color: #000;text-transform:uppercase; 
 
}

.noofimg.imgtext {
    max-width: 160px;
}
.tokenform .lbl {
    color: #555;
    float: left;
    font-size: 16px;
    font-weight: 600;
    padding: 27px 0 0;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}
/* = ========================= = */
/*  old css  */
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
.wrapper {
   
    margin: 0 auto;
    width: 1060px;
}
.box{   border: 1px solid #000;
    float: left;
    margin: 20px 10px 0;
    padding: 10px;
    width: 46%;}
.image-box{float: left; width: 20%; margin:0 10px; }
.form-row {
    
    float: left;
    margin: 10px 0;
    padding: 0;
    text-align: left;
    width: 100%;
}
.form-row > a {
    color: #880088;
    text-decoration: none;
}
.lbl {
  
 
    float: left;
    color: #555;
    padding: 5px 0; font-weight:bold;
    text-align: left;
 text-transform:uppercase;
    width: 100%;
}
.lb2{ 
    float: left;
    color: #555;
    padding: 5px 0; font-weight:bold;
    text-align: left;
 text-transform:uppercase;
    width: auto;}
.persnal-image{float: left;width: 20%;}
.persnal-image img {
    float: left;
    width: 100%;
}
.viewimage img {
    height: 100px;
    width: 100px;
}.box form {
    margin: 0 auto;
    width: 100%;
}
.go-back {
    background: #909090 none repeat scroll 0 0;
    float: left;
    text-align: center;
    width: 100%;
}
.go-back > a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

input[type="file"] {
    border: 0 solid #ccc;
    border-radius: 0;
    float: left;
    margin: 5px 0;
    overflow: hidden;
}
.box-wrapper {
    float: left;
    width: 100%;
}
.btn {
    border: 1px solid #ccc;
    float: left;
    width: 30%;
}
.response_text {
    margin: 0;
    text-align: center;
}
.btnupdate {
    border: 1px solid #ccc;
    float: right;
    width: 30%;
}
.btndelete {
    border: 1px solid #ccc;
    float: left;
    margin: 0 30px;
    width: 26%;
} 
.sub-box input[type="checkbox"]{  position: absolute;
    visibility: hidden;}

input[type="checkbox"]:checked + label img {
    border: 8px solid #fff !important;box-sizing:border-box; 
}
.sub-box img{width:100%; height:auto;}
input[type="checkbox"]:checked + label .overlay-checked {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    color: #fff;
    height: 98%;
    position: absolute;
    top: 0;
    width: 100%;} 
    
    .installation-process .installcode {
    float: left;
    padding: 10px 10px;
    margin: 20px 0; 
}
input[type="checkbox"]:checked + label .overlay-checked::after{content:"\2714"; font-size:44px; position:absolute; top:40%; left:46%;}  


input[type="radio"]:checked + label {background: #2ca3f8; color:#fff;} 
    .installation-process .installcode { 
    float: left;
    padding: 10px 10px;
    margin: 20px 0; 
}
input[type="radio"]:checked + .fa{color:#fff;}
.fa.fa-th, .fa.fa-sliders {
    font-size: 18px;
    padding-right: 5px;
}
.radiosection > label { 
    background: #fff;
    cursor: pointer;    
    float: left; margin-right:10px;
    padding: 6px 10px;
}

input[type="radio"]{  position: absolute;  
    visibility: hidden;}
.liquid-installation-header{background: #2ca3f8 none repeat scroll 0 0; color:#fff; padding:10px;}  
.installation-process{float:left;width:100%; font-size:13px; color:#000; line-height: 29px;     padding: 20px 0 110px;}
.installation-process p{float:left; width:100%; padding:3px 0px; line-height:22px;}
.installation-process ul{float:left;width:100%; margin:0; padding:0;}
.installation-process ul li{float:left; width:100%;}
.installation-process textarea{border: 1px solid #fff; box-sizing: padding-box; float:left; padding:10px 0px; width:90%; color: #990033; font-style:italic; }
.installation-process em, .installation-process li span{color: #ff0000;}
.installation-process a{text-decoration:underline;  font-style:italic;color: #ff0000;}
.container {
   
    box-sizing: border-box;
    float: left;
    max-width: 100%;
    padding: 0 20px 30px;
    width: 100%;
}
.big-wrapper .profile_info h2 {
    color: #003569;
} 
.invalid_token {     color: #ff0000;     float: left;     font-size: 25px;     font-weight: bold;     padding: 20px 0 60px;     width: 100%;} 
.profile_info {     float: left;    width: 80%; }
.instagram_heading{float:right; width:40%; margin:20px 0 0;} 
.profile_info span{float:left; width:100%;}
.instagram_heading img{float:left; width:16%; height:auto;border-radius:60px; border:1px solid #ddd; margin-right:10px;}
.profile_info h2{ font-size: 20px;     font-weight: normal;float:left; width:100%;margin:0px;} 
.profile_info p {     float: left;     font-size: 13px;     margin: 2px 0;     padding: 0;     width: 100%; }
.i_media{float:left; width:100%; font-size:13px; padding-top:15px;}
.profile_info .i_media span{float:left; margin:0 10px 10px 0; width:auto; padding-left:30px;}
.profile_info .i_media span.no_posts{ background:url(../images/Post.png) no-repeat top left;}
.profile_info .i_media span.followed_by{background:url(../images/Following.png) no-repeat top left;}
.profile_info .i_media span.follows{background:url(../images/Followers.png) no-repeat top left;}
.profile_info a {     color: #2ca3f8;     font-size: 16px;     font-weight: bold;     text-decoration: none; }
.invisible{display:none;}
.refresh {  border:1px solid #2ca3f8 ; background:#fff; border-radius: 20px; color:#2ca3f8;}
.get {background-color:#2ca3f8 ; border-radius:5px;transition: all 0.8s ease 0s; } 
.get:hover{background:#333;}
.noofimg{float:left; width:auto; padding:10px 0px; margin-right:0px;}
.imgoptions{float:left;width:100%;}
.image-box-wrapper .lb2 {     float: left;     margin-bottom: 30px;     width: 100%; } 
.noofimg > label {     float: left;        margin-bottom: 6px;     margin-top: -3px;    padding-right: 10px; font-size:13px; }
.app-headings li:last-child{background:#2ca3f8 none repeat scroll 0 0}
#noofsliderimg{float:left; width:auto; text-align:center;}
.tokenwrapper{float:left;width:100%;}
.noofimg_wrapper {
    width: 100%;
    float: left;
}
#instagram-form{
    float: left;
    padding: 20px 0;
    width: 60%;
    float: left;
}
.tokenwrapper > label {
    float: left;
    font-size: 13px;
    width: 100%;
}
@media only screen and (max-width: 1440px)
{
.instagram_heading{width:38%;} 
.tokenform{width:62%;}
}
.radiosection{float:left;width:auto ; position:relative; cursor: pointer;}
div#imgoptions {
    float: left;
    width: 100%;
}
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 60%;
    position: relative;
    margin: 5% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.modalDialog > div img{width:100%; height:auto;}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}
.radiosection .overlay-checked a{
    position: relative;
    float: left; display:none;
    width: 100%; font-size:30px;
    text-align: center;
    top: 33%;
    text-decoration: none;
    color: #000;
    font-weight: bold; 
}
.radiosection .overlay-checked:hover a{display:block;}
.select-wrapper{    float: left;
    width: 100%;
    text-align: center;
    height: 70px;
    padding: 5px 10px;
    box-sizing: border-box;}
.sub-box label {
    cursor: pointer;
    width: 100%;float:left;
    position: relative; font-size:13px;
    padding: 0 0 15px 0;
    text-transform: uppercase;
}

/* today 13 aug changes */
.install-help {
    color: #fff;
    float: left;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    margin-left: 10px;
}
.install-help > a {
    color: #2ca3f8;
}
.evm-insta-logo {;
  float: left;
    margin-right: 10px;
    width: 190px;
}
.evm-insta-logo > img {
    height: auto;
    line-height: 0;
    width: 100%;
}
.generate-token-button{float:left; width:100%;    position: relative;
    }


.container .tokenbox {
    float: left;
    margin: 9px 10px 0 0;
    width: 360px;
}

form {
    float: left;
    padding: 20px 0;
}
.review-message {
    background:rgba(71, 156, 207, 0.17) none repeat scroll 0 0;
    box-sizing: border-box;
    color: #333333;
    float: left;
    font-size: 14px;
    line-height: 26px;
    padding: 14px;
    text-align: center;
    width: 100%;
}
.review-message2{ 
    background:rgba(71, 156, 207, 0.17) none repeat scroll 0 0;
    box-sizing: border-box;
    color: #333333;
    float: left;
    font-size: 14px;
    line-height: 26px;
    padding: 14px;
    text-align: center;
    width: 100%; margin-top:15px;
}

.review-message > a {
    color: #0000FF; font-weight:bold; text-decoration:none; 
}
.review-message2 > a {
    color: #0000FF; font-weight:bold; text-decoration:none; 
}
.btn-shop-by-insta{
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
    background-color: #96bf48;
    border: 1px solid #7a9d37; font-weight:normal;
    color: #fff !important;
	border-radius: 2px;    padding: 6px 12px; text-decoration:none;  margin-left:15px;
}
.review-message textarea{ 
   
    color: #ff0000;
    float: left; background:transparent; border:0px; border-bottom: 1px dashed #999;
    font-size: 18px;
    height: 40px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;}
	
	/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.8s;
  -moz-animation-duration:0.8s;
  animation-duration:0.8s;
}
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
.footer{float:left; width:100%; padding:20px 0px; text-align:center; font-size:13px;} 
.footer h2{ border-bottom:1px dashed #ddd; padding-bottom:10px; margin-bottom:10px;float:left;width:100%;}
.footer_images{margin:0 auto; width:640px;}
.footer_block{float:left; width:31%; margin:10px 0 10px 10px;}
.footer_block img {width: 100%;}
@media only screen and (max-width: 1100px)
{
.big-wrapper-container{width:100%;}

}
@media only screen and (max-width: 730px)
{
.app-header{height:auto; text-align:center;}
.evm-insta-logo{    float: left; margin: 10px 0;width: 100%; text-align: center;}
.tokenform{width:100%;}
#instagram-form{width:100%; box-sizing:border-box;}
.container .tokenbox{max-width:100%;}
.instagram_heading{width:100%;}
.evm-insta-logo > img{width:auto;}
.app-header .header ul{width:100%;}
.app-headings ul li a{font-size:11px; padding:12px 10px;}
.app-headings ul li:last-child{float:right;}
.tokenwrapper > label{margin-top:10px;}
.noofimg.imgtext{max-width:100%;}
.noofimg_wrapper input[type="text"]{width:300px;}
.profile_info{width:100%;}
.review-message b{border-bottom:0px;}
iframe { max-width: 100%;height: auto;}
}